.header-section-container {
  padding: 22px 56px 30px 65px;
  background: rgba(217, 217, 217, 0.1);
  border-bottom: 1px solid #000000;
  h1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    margin: 0 0 19px 0;
  }
  .frequency-buttons {
    display: flex;
    justify-content: space-between;
  }
  .start-date-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 543px;
    margin: 23px auto 0;
    h2 {
      font-weight: 700;
      font-size: 10px;
      line-height: 100%;
      color: #000000;
      margin: 0;
    }
    h6 {
      font-style: italic;
      font-weight: 300;
      font-size: 8px;
      line-height: 100%;
      color: #000000;
      margin: 4px 0 0 0;
    }
    .react-datepicker-popper {
      inset: 0px auto auto 125px !important;
    }
  }
}
